body{
	font-family:Verdana, Helvetica, sans-serif;
	background-color: #FF9966;
	margin: 0;
	
}

.center {
    width: 60%;
    padding: 10px;
    text-align: center;
    margin-left: 375px;
    
}

.post{
    margin-left: 375px;
    margin-bottom: 50px;
    margin-top: 50px;
}
h2 {
	font-family: Papyrus, fantasy;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 50px;
	margin-bottom: 20px;
	

}
p{
	font-family: Verdana, Helvetica, sans-serif;;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-top: -15px;
	margin-left: 20px;
}
blockquote{
	font-family: Verdana, Helvetica, sans-serif;;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-top: -10px;
	margin-left: 0px;
}

ul {
	font-family: Papyrus, fantasy;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #800000;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #ffffff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #FF9966;
    color: white;
}

li a:hover:not(.active) {
    background-color: #FF9966;
    color: white;
}

form{
	margin-left: 375px;
    margin-bottom: 50px;
}

#post{
	margin-left: 25px;
    margin-bottom: 50px;
}

input[type="text"] {
    font-size:25px;
    font-family: Papyrus, fantasy;
    background-color: #800000;
    color:white;
    width: 83%;
    margin-top: -20px;
}
h5{
	font-family: Papyrus, fantasy;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: -5px;
	margin-top:-30px;
}
h6{
	font-family: Papyrus, fantasy;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom:5px;
}
textarea{
	font-family: Verdana, Helvetica, sans-serif;;
	font-size:15px;
    background-color: #800000;
    color:white;
    width: 83%;
}

input[type="submit"] {
    font-size:15px;
    font-family: Papyrus, fantasy;
    background-color: #800000;
    color:white;
    margin-top: 10px;
    border-radius: 5px;
}

#del{
    font-size:8px;
    font-family: Papyrus, fantasy;
    background-color: #800000;
    text-color:white;
    margin-top: 10px;
    border-color: #800000;
    border-radius: 5px; border:0 none;

}
